<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandManner</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <div id="wrap" class="main">
        <h1>Global Etiquette Guide</h1>
        <div id="btnArea">
            <button>START</button>
        </div>
    </div>
    <!-- div#wrap -->
    <input type="hidden" id="session_id" value="{{ session_id }}">
    <script src="../static/lib/jquery-3.7.1.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>