<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesture Success</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <div id="wrap" class="success">

        <div class="chat_message">
            <img src="../static/img/AI-Mazing.png" alt="로고" class="system">
            <span class="strong">시스템 :</span>
            <span>잘 하셨습니다!</span>
        </div>
        <br>

        <div class="chat_message">
            <img src="../static/img/AI-Mazing.png" alt="로고" class="system">
            <span class="strong">시스템 :</span>
            <span>당신이 거절하자 그는 얼굴을 찡그리며 소리칩니다.</span>
        </div>

        <br>
        <div class="chat_message">
            <img src="../static/img/AI-Mazing.png" alt="로고" class="system">
            <span class="strong">카스트로 :</span>
            <span>너 같은 사람은 여기서 쇼핑할 자격이 없어!</span>
        </div>

        <br>

        <div class="person_image">
            <img src="../static/img/AI-Mazing.png" alt="제스처를 취하는 사람" style="width: 400px;">
        </div>

        <div id="next"><span><i>NEXT</i></span></div>
    </div>
    <!-- div#wrap -->

    <script src="../static/lib/jquery-3.7.1.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>